header{
    width: 100%;
    height: 70px;
    background-color: rgb(45, 45, 45);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
   
    color: #ffc107;
    font-size: 2.7rem;
    margin-left:15px ;
    padding-bottom: 2px;
}
.signup{
    margin-right: 15px;
    font-weight: bold;
    
}
